@model IEnumerable<Student>;

<style>

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 10px;
        border: 1px solid black;
    }

</style>

<div style="text-align: center;">
    <a class="btn btn-secondary" asp-action="AddStudent">Add Student</a>
</div>

<br/>

<table class="padding">

    <tr>
        <th colspan="7">Student List</th>
    </tr>

    <tr>
        <th>Name</th>
        <th>Course</th>
        <th>Admission Date</th>
        <th>Email</th>
        <th>Details</th>
        <th>Update</th>
    </tr>

    @foreach (var student in Model)
    {
        <tr>
            <td>@student.FirstName @student.LastName</td>
            <td>@student.Course</td>
            <td>@student.AdmissionDate</td>
            <td>@student.Email</td>
            <td><a asp-action="ShowDetail" asp-route-id="@student.Id">Show Details</a></td>
            <td><a asp-action="UpdateStudent" asp-route-id="@student.Id">Update Info</a></td>
        </tr>
    }
</table>
    