@model IEnumerable<Student>;

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 10px;
        border: 1px solid black;
    }
</style>

<table class="padding">

    <tr>
        <th colspan="6">Student List</th>
    </tr>

    <tr>
        <td>Name</td>
        <td>Course</td>
        <td>Admission Date</td>
        <td>Email</td>
        <td>Details</td>


    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.FirstName @student.LastName</td>
            <td>@student.Course</td>
            <td>@student.AdmissionDate</td>
            <td>@student.Email</td>
            <td><a asp-action="ShowDetail" asp-route-id="@student.Id">Show Details</a></td>

        </tr>
    }
</table>
